/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "Beer money"; */
@font-face {
    font-family: 'Beer money';
    src: local('beer money'), local('beermoney'), url('../fonts/Beermoney/beermoney.woff2') format('woff2'), url('../fonts/Beermoney/beermoney.woff') format('woff'), url('../fonts/Beermoney/beermoney.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/* font-family: "Five Minutes"; */
@font-face {
    font-family: 'Five Minutes';
    src: local('Five Minutes'), local('FiveMinutes'), url('../fonts/Fiveminutes/Fiveminutes.woff2') format('woff2'), url('../fonts/Fiveminutes/Fiveminutes.woff') format('woff'), url('../fonts/Fiveminutes/Fiveminutes.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed light';
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url('../fonts/RobotoCondensed/Robotocondensedlight.woff2') format('woff2'), url('../fonts/RobotoCondensed/Robotocondensedlight.woff') format('woff'), url('../fonts/RobotoCondensed/Robotocondensedlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed Light Italic';
    src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url('../fonts/RobotoCondensed/Robotocondensedlightitalic.woff2') format('woff2'), url('../fonts/RobotoCondensed/Robotocondensedlightitalic.woff') format('woff'), url('../fonts/RobotoCondensed/Robotocondensedlightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto Condensed Regular';
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('../fonts/RobotoCondensed/Robotocondensed.woff2') format('woff2'), url('../fonts/RobotoCondensed/Robotocondensed.woff') format('woff'), url('../fonts/RobotoCondensed/Robotocondensed.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed Italic';
    src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url('R../fonts/RobotoCondensed/obotocondenseditalic.woff2') format('woff2'), url('../fonts/RobotoCondensed/Robotocondenseditalic.woff') format('woff'), url('../fonts/RobotoCondensed/Robotocondenseditalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto Condensed Bold';
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('../fonts/RobotoCondensed/Robotocondensedbold.woff2') format('woff2'), url('../fonts/RobotoCondensed/Robotocondensedbold.woff') format('woff'), url('../fonts/RobotoCondensed/Robotocondensedbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed Bold Italic';
    src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url('../fonts/RobotoCondensed/Robotocondensedbolditalic.woff2') format('woff2'), url('../fonts/RobotoCondensed/Robotocondensedbolditalic.woff') format('woff'), url('../fonts/RobotoCondensed/Robotocondensedbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

